<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.DeptDao">
    <!--参数，大括号里的值，在insert这个案例中，就是Dept实体类的属性的名字
    #是利用jdbc的参数化查询方式-->
    <insert id="insert"  >
       insert into employee(salary,  gender, username, deptid)
       values(#{salary},#{gender},#{username},#{deptId})
    </insert>

    <!--在这个案例中，把#改为$查看日志输出，理解#与$的不同-->
    <select id="getById" resultType="com.entity.Employee" >
        select id,username,salary,gender
        from employee where id = #{id}
    </select>

    <select id="getBySalaryAndGender" resultType="emp">
        select id,username,salary,gender
        from employee where salary > #{arg0} and gender = #{arg1}
    </select>

    <select id="getBySalaryAndGender2" resultType="emp">
        select id,username,salary,gender
        from employee where salary > #{salary} and gender = #{gender}
    </select>

    <select id="getAllByCondition" resultType="emp" >
        select id,username,salary,gender
        from employee where salary > #{salary} and gender = #{gender}
        order by ${sortName}  ${sortType}
    </select>
</mapper>